<section class="container about">
  <h2 class="title">About me</h2>
<div class="box">
    <p class="description">
    Hey there! I'm Ivetta, a dedicated full-stack developer fueled by a passion
    for crafting seamless digital solutions. Equipped with a keen eye for both
    front-end aesthetics and back-end functionality, I thrive on tackling
    complex challenges and turning ideas into reality. Whether it's building
    intuitive user interfaces or optimizing database performance, I'm committed
    to delivering top-notch experiences that resonate with users. Let's team up
    and transform your concepts into fully functional, user-centric
    applications!
  </p>
  <div class="color-ring">
    <i style="--clr: rgba(151, 244, 235, 1)"></i>
    <i style="--clr: rgba(235, 151, 244, 1)"></i>
    <i style="--clr: rgba(91, 108, 255, 1)"></i>
    <img
      class="img"
      src="./img/about.webp"
      alt="Ivetta Dashkova"
      width="251"
      height="183"
    />
    <ul class="technologies">
      <li class="item">
        <svg class="icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-nestjs"></use>
        </svg>
      </li>
      <li class="item">
        <svg class="icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-typescript"></use>
        </svg>
      </li>
      <li class="item">
        <svg class="icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-postgresql"></use>
        </svg>
      </li>
      <li class="item">
        <svg class="icon mysql" width="25" height="25">
          <use href="./img/sprite.svg#icon-mysql"></use>
        </svg>
      </li>

      <li class="item">
        <svg class="icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-react"></use>
        </svg>
      </li>
      <li class="item">
        <svg class="icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-nodejs"></use>
        </svg>
      </li>
      <li class="item">
        <svg class="icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-redux"></use>
        </svg>
      </li>
      <li class="item">
        <svg class="icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-next"></use>
        </svg>
      </li>
      <li class="item">
        <svg class="icon" width="25" height="25">
          <use href="./img/sprite.svg#icon-mongodb"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>
  <ul class="indicators">
    <li class="item">
      <span class="accent">2+</span>Years of Mentoring Experience
    </li>
    <li class="item">
      <span class="accent">4+</span>Years of Web Development Experience
    </li>
    <li class="item">
      <span class="accent">25+</span>Number of Web Projects Completed
    </li>
  </ul>
</section>
