<section class="companies">
    <h2 class="title">Companies</h2>
    <div class="line">
      
        <div class="line-inner">
            
            <p class="line-content"><svg class="between" width="14" height="14">
                    <use href="./img/sprite.svg#icon-star"></use>
                </svg><span>Playtech</span> <svg class="icon" width="14" height="14">
                    <use href="./img/sprite.svg#icon-star"></use>
                </svg><span>GoIT</span> <svg class="icon" width="14" height="14">
                    <use href="./img/sprite.svg#icon-star"></use>
                </svg><span>Shttle</span><svg class="icon" width="14" height="14">
                    <use href="./img/sprite.svg#icon-star"></use>
                </svg><span>KHZN</span>  <svg class="icon" width="14" height="14">
                    <use href="./img/sprite.svg#icon-star"></use>
                </svg></p>
              
 <p class="line-content">  <svg class="between" width="14" height="14">
                    <use href="./img/sprite.svg#icon-star"></use>
                </svg><span>Playtech</span> <svg class="icon" width="14" height="14">
                    <use href="./img/sprite.svg#icon-star"></use>
                </svg><span>GoIT</span> <svg class="icon" width="14" height="14">
                    <use href="./img/sprite.svg#icon-star"></use>
                </svg><span>Shttle</span><svg class="icon" width="14" height="14">
                    <use href="./img/sprite.svg#icon-star"></use>
                </svg><span>KHZN</span> <svg class="between" width="14" height="14">
                    <use href="./img/sprite.svg#icon-star"></use>
                </svg></p>
                
        </div>
    </div>

</section>