<div class="container">
<div class="work-together">
<div class="contact-me">
    
    <section class="contact-form" id="contact">
        <h2 class="title">Work together</h2>
            <img class="img" src="./img/work.webp" alt="Ivetta Dashkova" width="133" height="133" />
       <form id="contact-form">
    
        <input
        type="text"
        name="name"
        class="field"
        pattern="^[а-яїґієА-ЯЇҐІЄa-zA-Z]{2,}( [а-яїґієА-ЯЇҐІЄa-zA-Z]+)?$"
        placeholder="Enter your name..."
        autocomplete="off"
  
      />

        <input
        type="text"
        name="email"
        class="field"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        placeholder="Enter your email..."
        autocomplete="off"
  
      />

       <input
        type="text"
        name="phone"
        class="field"
        pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
        placeholder="Enter your phone..."
        autocomplete="off"
     
      />


       <textarea
        rows="4"
        name="comments"
        placeholder="Enter comments..."
        class="field comment"
        autocomplete="off"
  
      ></textarea>

<div class="box">
    <span class="error"></span>
        <button class="btn" type="submit">Submit</button>
</div>
    </form>
</section>
   <load ="partials/footer.html" />
</div>
</div>
</div>