<header class="container header" id="home">
  <load ="partials/navigation.html" />
  <a class="upload" href="/cv.pdf" download aria-label="Download my resume">
    Resume
    <svg class="icon" width="18" height="18">
      <use href="./img/sprite.svg#icon-download"></use>
    </svg>
  </a>
</header>
