<section class="hero" id="about">

    <img class="laptop" src="./img/laptop.png" alt="Ivetta Dashkova" width="250" />
    <img class="img" src="./img/hero.webp" alt="Ivetta Dashkova" width="250" />
    <img class="mobile" src="./img/mobile.png" alt="Ivetta Dashkova" width="80" />
    <div class="main-box">
        <h1 class="main-title"><span class="subtitle">I am</span>Ivetta Dashkova</h1>
        <p class="description">
            Full Stack Developer adept at crafting robust applications.
        </p>
        <div class="refs">
            <a class="button" href="#contact" aria-label="Contact me for hiring inquiries">Hire me</a>
            <load ="partials/links.html" />
        </div>

    </div>

</section>