<ul class="links">
     <li class="link" >
            <a class="network" target="_blank" href="https://www.linkedin.com/in/ivettadashkova/" aria-label="Visit my LinkedIn profile">
        <svg class="icon" width="35" height="35">
            <use href="./img/sprite.svg#icon-linkedin"></use>
        </svg>
    </a>
    </li>
     <li class="link">
            <a class="network"  target="_blank" href="https://gitlab.com/ivettafsd" aria-label="Visit my GitLab profile">
        <svg class="icon gitlab" width="35" height="35">
            <use href="./img/sprite.svg#icon-gitlab"></use>
        </svg>
    </a>
    </li>
     <li class="link">
            <a class="network" target="_blank" href="https://github.com/IvettaDashkova" aria-label="Visit my GitHub profile">
        <svg class="icon" width="35" height="35">
            <use href="./img/sprite.svg#icon-github"></use>
        </svg>
    </a>
    </li>
     <li class="link">
            <a class="network"  target="_blank" href="https://t.me/IvettaDashkova" aria-label="Visit my Telegram profile">
        <svg class="icon" width="35" height="35">
            <use href="./img/sprite.svg#icon-telegram"></use>
        </svg>
    </a>
    </li>
</ul>