<nav class="nav">
    <ul class="list">
         <li class="item home">
            <a class="button" href="#home"  aria-label="Return to up">Home</a>
   
    </li>
      <li class="item">
            <a class="button" href="#about" aria-label="Learn more about me">About</a>
   
    </li>
      <li class="item">
            <a class="button" href="#projects" aria-label="Explore my projects">Projects</a>
   
    </li>
         <li class="item contacts">
            <a class="button" href="#contacts" aria-label="Contact me">Contacts</a>
   
    </li>
    </ul>
</nav>