<section class="container projects" id="projects">
  <h2 class="title">Projects<span class="subtitle">Frontend</span></h2>
  <ul class="list">
    <li class="item">
      <a
        href="https://shttle.com/en/homepage/"
        target="_blank"
        aria-label="Visit Shttle website"
      >
        <img class="img" src="./img/shttle.webp" alt="Shttle" />
      </a>
    </li>
    <li class="item">
      <a
        href="https://app.khzn.net/client/login"
        target="_blank"
        aria-label="Visit KHZN website"
      >
        <img class="img" src="./img/khzn.webp" alt="KHZN" />
      </a>
    </li>
    <li class="item">
      <a
        href="https://next-level-food-48v0.onrender.com/"
        target="_blank"
        aria-label="Visit Next Level Food website"
      >
        <img
          class="img"
          src="./img/next-level-food.webp"
          alt="Next Level Food"
        />
      </a>
    </li>
    <li class="item">
      <a
        href="https://ivetta-chocolate.netlify.app/"
        target="_blank"
        aria-label="Visit Chocolate website"
      >
        <img class="img" src="./img/chocolate.webp" alt="Chocolate" />
      </a>
    </li>

    <li class="item">
      <a
        href="https://ivetta-barbershop.netlify.app/"
        target="_blank"
        aria-label="Visit BarberShop website"
      >
        <img class="img" src="./img/barbershop.webp" alt="BarberShop" />
      </a>
    </li>
     <li class="item">
      <a
        href="https://next-news-whlm.onrender.com/"
        target="_blank"
        aria-label="Next News App"
      >
        <img class="img" src="./img/news.webp" alt="Next News" />
      </a>
    </li>
    <li class="item">
      <a
        href="https://ivetta-veggie.netlify.app/"
        target="_blank"
        aria-label="Visit Veggieboost website"
      >
        <img class="img" src="./img/veggieboost.webp" alt="Veggieboost" />
      </a>
    </li>

    <li class="item">
      <a
        href="https://ivetta-kapusta.netlify.app/"
        target="_blank"
        aria-label="Visit Kapu$ta website"
      >
        <img class="img" src="./img/kapusta.webp" alt="Kapu$ta" />
      </a>
    </li>
    <li class="item">
      <a href="https://barcelolita.com/" target="_blank">
        <img
          class="img"
          src="./img/barcelolita.webp"
          alt="Barcelolita"
          aria-label="Visit Barcelolita website"
        />
      </a>
    </li>

    <li class="item">
      <a
        href="https://ivetta-carpathians.netlify.app/"
        target="_blank"
        aria-label="Visit Carpathians website"
      >
        <img class="img" src="./img/carpathians.webp" alt="Carpathians" />
      </a>
    </li>
    <li class="item">
      <a
        href="https://ivetta-pokedex.netlify.app/"
        target="_blank"
        aria-label="Visit Pokedex website"
      >
        <img class="img" src="./img/pokedex.webp" alt="Pokedex" />
      </a>
    </li>
  </ul>
</section>
<section class="projects container">
  <h2 class="title">Projects<span class="subtitle">Backend</span></h2>
  <ul class="backlist">
    <li class="ref">
      <a
        target="_blank"
        href="https://gitlab.com/ivettafsd/my-car-value"
        aria-label="View the Cars App GitLab repository"
      >
        For Cars App</a
      >
    </li>
    <li class="ref">
      <a
        target="_blank"
        href="https://gitlab.com/ivettafsd/bookreading"
        aria-label="View the App for keep tracking reading books GitLab repository"
      >
        For App for keep tracking reading books</a
      >
    </li>
    <li class="ref">
      <a
        target="_blank"
        href="https://gitlab.com/ivettafsd/vocabbuilder"
        aria-label="View the App for saving English words GitLab repository"
      >
        For App for saving English words</a
      >
    </li>
    <li class="ref">
      <a
        target="_blank"
        href="https://gitlab.com/ivettafsd/furryfriends"
        aria-label="View the Petlove App GitLab repository"
      >
        For Petlove App</a
      >
    </li>

    <li class="ref">
      <a
        target="_blank"
        href="https://gitlab.com/ivettafsd/tasty-treats-backend"
        aria-label="View the Tasty Treats App GitLab repository"
      >
        For Tasty Treats App</a
      >
    </li>
    <li class="ref">
      <a
        target="_blank"
        href="https://gitlab.com/ivettafsd/powerpulse"
        aria-label="View the App for keep tracking calories GitLab repository"
        >For App for keep tracking calories</a
      >
    </li>
  </ul>
</section>
