.container.about {
   margin-bottom: 50px;
}
.about .description {
  text-align: justify;
  margin-bottom: 60px;
}
.about .icon {
  fill: var(--secondary-color);
}
.about .icon.mysql {
  stroke: var(--secondary-color);
}
.about .technologies {
  position: relative;
  width: 300px;
  height: 300px;
  list-style-type: none;
  border: 0.5px solid var(--bg);
  border-radius: 50%;
  display: grid;
  place-items: center;
  animation: tilt-shaking 0s linear infinite;
}
.about .technologies .item {
  position: absolute;
  width: 3rem;
  height: 3rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
  border-radius: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .color-ring {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.about .color-ring .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
}
.about .color-ring i {
  position: absolute;
  inset: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
.about .color-ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 14s linear infinite;
}
.about .color-ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 12s linear infinite;
}
.about .color-ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 18s linear infinite;
}
.about .color-ring:hover i {
  border: 1px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
.about .color-ring:hover .technologies .item {
  box-shadow: 0 0 30px #9500ff;
}
.about .color-ring:hover .technologies {
  animation: tilt-shaking 10s linear infinite;
}
.about .indicators {
    display: flex;
    justify-content: space-around;
    width: 100%;

}
.about .indicators .item {
    text-align: center;
    font-weight: 500;
font-size: 10px;
text-align: center;
color: #9f9f9f;
}
.about .indicators .item:not(:first-child){
    padding-left: 21px;
}
.about .indicators .item:not(:last-child){
    padding-right: 21px;
    border-right: 0.69px solid #585858;
}
.about .indicators .item .accent {
font-weight: 700;
font-size: 41px;
display: block;
background: linear-gradient(167deg, #981c82 0%, #ed6d65 55.5%, #b07900 100%);
background-clip: text;
margin-bottom: 11px;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
 @media screen and (min-width: 768px) {
  .container.about  {
    text-align: left;
    margin-bottom: 80px;
  }

   
    .about .description {
 
  font-size: 30px;
  margin-bottom: 100px;
    }
     .about .color-ring {
width: 500px;
height: 500px;
margin-bottom: 120px;
     }
     .about .color-ring .img { 
      width: 300px;
     }
     .about .technologies {
      width: 500px;
      height: 500px;
     }
     .about .technologies .item {
      width: 6rem;
      height: 6rem;
      padding: 20px;
     }
     .about .technologies .item .icon {
width: 40px;
height: 40px;
     }
     .about .indicators .item { 
      font-size: 30px;
      width: calc(100% / 3);
     }
     .about .indicators .item .accent {
      font-size: 120px;
     }
 }
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
