.companies {
  margin-bottom: 20px;
}
.companies .title {
    display: none;
}
.companies .line{
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 500;
font-size: 10px;
color: #fff;
transform: rotate(355deg);
      background-color: #000;
              box-shadow: 0 0 30px  rgba(255,255,255,0.3);
}

.companies .line-inner {

  display: flex;
        
}

.companies .line-content { 
  margin: 0;
  padding: 10px 15px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: line;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: flex;
    align-items: center;
  justify-content: space-between;

}


 @media screen and (min-width: 768px) {
  .companies {
  margin-bottom: 120px;
}
  .companies .line {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 31px;
  }
 }
 @keyframes line {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}