.work-together {
position: relative;
  border-radius: 15px;
margin-top: 32px;
border:  0.5px solid rgba(255, 255, 255, 0.8);
overflow: hidden;

}
.contact-me {
background: linear-gradient(180deg, rgba(240, 240, 240, 0.55), rgba(255, 255, 255, 0.01));
padding: 25px 17px;


}
.contact-form {
    text-align: left;
     font-size: 14px;
     padding-bottom: 10px;
     border-bottom: 1px solid #fff ;

}
.contact-form .title {
    margin-bottom: 15px;


}

.contact-form img {
    display: none;
}

 @media screen and (min-width: 390px) {

.contact-form img {
    position: absolute;
    right: 0;
    top:10%;
    display: block;

}
 }
.contact-form input {
   margin-bottom: 10px;
   padding: 3px 7px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
   display: block;
   width: 50%;
     color: #fff;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #fff;
}
.contact-form textarea{ 
     background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
     padding: 3px 7px;
     width: 100%;
     margin-bottom: 10px;
          color: #fff;
}
.contact-form .box {
    display: flex;
    justify-content: space-between;
}
.contact-form .box .error { 
    width: 60%;
    font-size: 12px;
    color: rgba(235,151,244,1);
       text-shadow: 3px 3px 10px rgba(235,151,244,10);
       text-align: center;
}
.contact-form .btn {
      margin: 0;

    background: linear-gradient(179deg, rgba(255, 255, 255, 0.5) 0%, rgba(58, 58, 58, 0.5) 100%);
    border-radius: 9px;
    padding: 8px 22px;
display: block;
    margin-left: auto;
    border: none;
}

.contact-form .btn:hover,
.contact-form .btn:focus {
     background: linear-gradient(179deg, rgba(255, 255, 255, 0.5) 100%, rgba(58, 58, 58, 0.5) 20%);
     color: var(--primary-color);
       box-shadow: 3px 3px 10px rgba(91,108,255,10);
}
 @media screen and (min-width: 768px) {
    .contact-me {
        padding: 30px;
    }
    .contact-form img {
    position: absolute;
    right: 12%;
    top: 12%;
    display: block;
   height: 300px;
   width: auto;

}
    .contact-form {
             font-size:28px;
                  padding-bottom: 30px;
    }
    .contact-form .title {
    margin-bottom: 35px;


}
    .contact-form input {
   margin-bottom: 30px;
   padding: 10px 16px;
 
}
.contact-form textarea{ 
       margin-bottom: 30px;
   padding: 10px 16px;
}
 }