.footer {
    padding-top: 10px;
     display: flex;
    align-items: center;
    justify-content: space-between
}
.footer .nav .list .item:not(:last-child) {
  margin-right: 10px;
}
.footer .nav .list .item:hover {
      color: rgba(151,244,235,10);
    text-shadow: 3px 3px 10px rgba(151,244,235,10);
}
.footer .nav .item.contacts {
  display: none;
}
 @media screen and (min-width: 768px) {
  .footer .nav .list .item:not(:last-child) {
    margin-right: 39px;
  }
 }