.header {
  padding: 5px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header .nav .list .item:not(:last-child) {
  margin-right: 18px;
}
.header .nav .list .item:hover {
 color: rgba(91,108,255,1);
 text-shadow: 3px 3px 10px rgba(91,108,255,1);
}
.header .nav .item.home {
  display: none;
}
.header .upload {
  padding: 10px 0;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .upload:hover {
  color: rgba(151,244,235,10);
     text-shadow: 3px 3px 10px rgba(151,244,235,10);
}
.header .upload:hover .icon {
  fill: rgba(151,244,235,10);
}
.header .upload .icon {
  fill: white;
  display: inline-block;
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .header {
  padding: 25px 0;
}
.header .nav .list .item:not(:last-child) {
  margin-right: 39px;
}
.header .upload {
  font-size: 25px;
}
.header .upload .icon {
  width: 25px;
  height: 25px;
}
 }