.hero {
    position: relative;
    max-width: 360px;
        margin: 0 auto 10px;
    padding: 23px;
    background: radial-gradient(circle, rgba(151,244,235,1) 0%, rgba(151,244,235,1) 0%, rgba(0,0,0,0.3) 70%),
    radial-gradient(circle, rgba(235,151,244,1) 0%, rgba(235,151,244,1) 0%, rgba(0,0,0,0.3) 70%), 
    radial-gradient(circle, rgba(91,108,255,1) 0%, rgba(91,108,255,1) 0%, rgba(0,0,0,0.3) 70%);
     background-size:  180px 180px, 138px 138px, 150px 150px;
     background-repeat: no-repeat, no-repeat,no-repeat;
     background-position: 180px 140px,60px 140px, 185px 0px;
}
.hero .img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.hero .laptop,
.hero .mobile { 
    display: none;
}
.hero .main-title {
    font-weight: 700;
    font-size: 56px;
    max-width: 280px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
}
.hero .subtitle {
    font-family: 'Beauty', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #ffa620;
    position: absolute;
    top: -12px;
    left: 20px;
}
.hero .description {
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    margin-bottom: 16px;
}
.hero .button {
    margin: 0;
    background: linear-gradient(179deg, rgba(255, 255, 255, 0.5) 0%, rgba(58, 58, 58, 0.5) 100%);
    border-radius: 9px;
    padding: 8px 22px;
    display: inline-block;
    margin-right: 10px;
}
.hero .button:hover,
.hero .button:focus {
     background: linear-gradient(179deg, rgba(255, 255, 255, 0.5) 100%, rgba(58, 58, 58, 0.5) 20%);
     color: var(--primary-color);
       box-shadow: 3px 3px 10px rgba(151,244,235,10);
}
.hero .refs {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .refs li:not(:last-child){
    margin-right: 10px;
}
 @media screen and (min-width: 768px) {
    .hero {

        max-width: 100%;

 padding: 100px 100px;
 background: none;

    }
    .hero .img {
position: absolute;
right: 5%;
top: 0%;
max-width: 300px;
    }
.hero .laptop {
    display: block;
position: absolute;
right: 28%;
top: 35%;
transform: rotate(-15deg);
max-width: 150px;
    }
    .hero .mobile { 
        display: block;
        position: absolute;
        right: 5%;
        top: 55%;
        transform: rotate(25deg);
    }
    .hero .main-box {
        width: 70%;
        text-align: left;
        max-width: 450px;
       
    }
    .hero .main-title,
        .hero .description
     {
        text-align: left;
 
    }
    .hero .main-title {
        margin-bottom: 28px;
        max-width:none;
    }
   .hero .subtitle  {
    left: -20px;
   }
    .hero .description {
        font-size: 30px;
        margin-bottom: 35px;
              max-width: 300px;
    }
    .hero .refs {
   justify-content: space-between;
    }
    .hero .button {
        font-size: 33px;
        padding: 10px 30px;
    }
 }