.links {
     display: flex;
    align-items: center;
    justify-content: center;
}
.link:not(:last-child) {
    margin-right: 5px;
}
.network {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    overflow: hidden;
    box-shadow: 0 0 30px  rgba(255,255,255,0.7);
}

.network .icon {
    fill: var(--secondary-color);
    stroke: var(--secondary-color);
    opacity: 0.4;
    display: inline-block;
    border-radius: 100%;


}
.network:hover,
.network:focus{
    opacity: 1;
        box-shadow: 0 0 30px  rgba(255,255,255,1);
           border-radius: 100%;
}
.network:hover .icon,
.network:focus .icon {
    opacity: 0.5;
}
.network .icon.gitlab {
    fill: var(--primary-color);
    background:  var(--secondary-color);
}
 @media screen and (min-width: 768px) {
    .network {
        width: 40px;
        height: 40px;
    }
    .network .icon {
          width: 40px;
        height: 40px;
    }
    .link:not(:last-child){
        margin-right: 10px;
    }
 }