.nav .list {
    display: flex;
    font-size: 14px;
}
.nav .list .item {
     padding: 10px 0;
     cursor: pointer;
}
 @media screen and (min-width: 768px) {
    .nav .list  {
        font-size: 25px;
    }
 }
