.container.projects {
    margin-bottom: 30px;
}
.projects .title {
position: relative;
}
.projects .title .subtitle {
    font-family: 'Beauty', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #ffa620;
    position: absolute;
    top: 10px;
    right: -60px;
}
.projects .list {
margin: -5px;
display: flex;
flex-wrap: wrap;
}
.projects .list .item {
    margin: 5px;
    border-radius: 11px;
    width: calc(100%/2 - 10px);
height: 180px;
background-color: #fff;
border-radius: 11px;

}

.projects .list .item a:hover {
   box-shadow: 0 0 20px  rgba(255,255,255,1);
 border-radius: 11px;
}
.projects .list .item a:focus {
      outline: 2px solid rgba(235,151,244,1);
      border-radius: 11px;

}
     

.projects .list .item:nth-child(3n){
    width: 100%;
}
.projects .list .item a {
    display: block;
    width: 100%;
    height: 100%;
}
.projects .list .item .img {
    object-fit:cover;
    height: 100%;
    width: 100%;
    border-radius: 11px;
}
.projects .backlist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 11px;
}
.projects .backlist .ref {
    margin: 3px;
    border: 1px solid #fff;
    border-radius: 17px;
}
.projects .backlist .ref a {
   padding: 5px 12px;
   display: block;
     border-radius: 17px;
}
.projects .backlist .ref:hover {
     opacity: 1;
        box-shadow: 10px 0 30px  rgba(255,255,255,0.5);
}
 @media screen and (min-width: 768px) {
    .container.projects {
        margin-bottom: 50px;
    }
    .projects .title .subtitle {
        font-size: 50px;
        top: -10px;
        right: -100px;
    }
    .projects .list {
        margin-bottom: 50px;
    }
    .projects .list .item {
        height: 360px;
    }
    .projects .backlist .ref{
        font-size: 30px;
        font-weight: 300;
        border-radius: 56px;
     
        margin: 24px;
    }
    .projects .backlist .ref a {
           padding: 18px;
    }
 }
