@import url('./reset.css');
@import url('./header.css');
@import url('./navigation.css');
@import url('./hero.css');
@import url('./links.css');
@import url('./companies.css');
@import url('./about-me.css');
@import url('./projects.css');
@import url('./contact-me.css');
@import url('./footer.css');

:root {
  color: #fff;
  background-color: #000;
  backdrop-filter: blur(68px);
  --primary-color: #000;
  --secondary-color: #fff;
}
@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/ClashDisplay-Light.woff2'),
    url('../fonts/ClashDisplay-Light.woff');
}
@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ClashDisplay-Regular.woff2'),
    url('../fonts/ClashDisplay-Regular.woff');
}
@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/ClashDisplay-Medium.woff2'),
    url('../fonts/ClashDisplay-Medium.woff');
}
@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/ClashDisplay-Semibold.woff2'),
    url('../fonts/ClashDisplay-Semibold.woff');
}
@font-face {
  font-family: 'Clash Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/ClashDisplay-Bold.woff2'),
    url('../fonts/ClashDisplay-Bold.woff');
}
@font-face {
  font-family: 'Beauty';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/BeautyDemo.ttf') format('truetype');
}

body {
  font-family: 'Clash Display', sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  padding-bottom: 30px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*:focus {
  outline: 1px solid rgba(235, 151, 244, 1);
  border-radius: 3px;
}
.container {
  padding-left: 23px;
  padding-right: 23px;
  margin: 0 auto;
  text-align: center;
  max-width: 360px;
}
.title {
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--secondary-color);
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 23px;
}
.bcg {
  background-image: url('../img/bcg-projects.png');
  background-size: 100% 50%;
  background-position-y: 750px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    max-width: 1280px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .title {
    font-size: 58px;
    margin-bottom: 50px;
  }
  .bcg-hero {
    background: radial-gradient(
        circle,
        rgba(151, 244, 235, 1) 0%,
        rgba(151, 244, 235, 1) 0%,
        rgba(0, 0, 0, 0.3) 70%
      ),
      radial-gradient(
        circle,
        rgba(235, 151, 244, 1) 0%,
        rgba(235, 151, 244, 1) 0%,
        rgba(0, 0, 0, 0.3) 70%
      ),
      radial-gradient(
        circle,
        rgba(91, 108, 255, 1) 0%,
        rgba(91, 108, 255, 1) 0%,
        rgba(0, 0, 0, 0.3) 70%
      );
    background-size: 100% 1200px, 50% 600px, 50% 600px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 100% 105%, 100% -5%, 0% -5%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .bcg {
    background-image: url('../img/bcg-projects.png');
    background-size: 100% 50%;
    background-position-y: 1350px;
    background-repeat: no-repeat;
  }
}
